@font-face {
    font-family: 'MedievalSharp';
    src: url('../fonts/MedievalRegular.ttf');
}

.root {
    -fx-font-family: 'MedievalSharp';
    -fx-font-size: 48px;
    -fx-background-image: url('../images/background.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-font-size: 32px;
    -fx-padding: 16px 32px;
    -fx-background-radius: 10;
    -fx-text-fill: #000000;
    -fx-background-color: #EFB622;
}

.button:hover {
    -fx-opacity: 0.95;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-translate-y: 4;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}