.title {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #0a181f;
    -fx-font-size: 128px;
    -fx-padding: 0px 0px 128px 0px;
}

.menu-button {
}

.menu-button:hover {
}

.exit-button {
}

.exit-button:hover {
}

/* Estilo adicional para o container dos botões */
.button-container {
    -fx-spacing: 30px;
    -fx-padding: 30px;
}